* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menuAndCart {
  display: flex;
  justify-content:center;
  gap: 20px;
  background: url('../components/images/beach.jpg') no-repeat fixed;
  background-size: cover;
}
