.Ul {
   list-style: none;
   padding-left: 0;
}

.Grid {
   display: grid;
   grid-template: repeat(5, 100px), repeat(4, 100px);
   grid-template-areas: "A A A D D"
                        "A A A D D";
   width: 350px;
   height: 100px;
   margin-top: 20px;
   margin-bottom: 10px;
   background-color: azure;
   padding-top: 0px;
   gap: 10px;
}

.A {
   grid-area: A;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 210px;
}

.D {
   grid-area: D;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.Name {
   font-size: 1.5rem;
   text-align: center;
}

.Price {
   font-size: 1.5rem;
}

.removeButton {
   background-color: white;
   width: 100px;
   height: 50px;
   border: none;
   box-shadow: 1px 1px 5px;
   font-size: 1rem;
}

.removeButton:active {
   box-shadow:inset 1px 1px;
   scale: 98%;
}

.removeButton:hover {
   background-color: rgb(122, 255, 237);
}