.Ul {
   list-style: none;
   padding-left: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   column-gap: 40px;
}

.itemGrid {
   display: grid;
   grid-template: repeat(5, 100px), repeat(4, 100px);
   grid-template-areas: "A A A A"
                        "C C B B"
                        "C C B B"
                        "C C B B"
                        "C C D D";
   width: 400px;
   height: 500px;
   margin-top: 60px;
   background-color: azure;
   box-shadow: 1px 1px 5px;
   border-radius: 0px;
   padding: 20px;
   gap: 20px;
}

.A {
   grid-area: A;
}

.B {
   grid-area: B;
}

.C {
   grid-area: C;
   width: 200px;
}

.D {
   grid-area: D;
}

.Name {
   font-size: 2rem;
   white-space: nowrap;
}

.Price {
   font-size: 1.5rem;
}

.Image {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.Description {
   font-size: 1.25rem;
}

.addButton {
   background-color: white;
   width: 150px;
   height: 110px;
   border: none;
   box-shadow: 1px 1px 5px;
   font-size: 1.25rem;
}

.addButton:active {
   box-shadow:inset 1px 1px;
   scale: 98%;
}

.addButton:hover {
   background-color: rgb(122, 255, 237);
}